.card {
  background-color: white;
  border-radius: 12px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 4px;
}

.project-card {
  border-left: solid 8px var(--accent);
  max-height: 240px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 24px;
}

.project-card > div:first-child {
  overflow: hidden;
}

button {
  background-color: var(--blue);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 64px;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
