@import url("./typography.css");
@import url("./components.css");

:root {
  --blue: #1992d4;
  --grey: #e2e8f0;
  --light-grey: #d2d2d2;
  --dark-grey: #636363;
  --top-padding: 16px;
  --horizontal-padding: 24px;
  --heading-gap: 8px;
  --content-gap: 24px;
  --accent: #f0b429;
}

body {
  display: grid;
  grid-template-columns: minmax(15%, 240px) 1fr;
  height: 100vh;
  background-color: var(--grey);
  font-family: "Roboto", sans-serif;
}

#sidenav-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 32px;
  background-color: var(--blue);
  color: white;
  padding: var(--top-padding) 24px;
  height: 100%;
}

#sidenav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  font-size: 1.3rem;
  font-weight: bold;
}

#sidenav ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  color: white;
  display: block;
  align-self: center;
  justify-self: center;
}

.heading-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 12px;
}

.heading-icon {
  width: 40px;
  height: 40px;
}

.heading-text {
  line-height: 1.25;
}

.menu-item {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  gap: 20px;
}

.menu-label {
  align-self: center;
}

#header {
  background-color: white;
  padding: var(--top-padding) var(--horizontal-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 4px;
}

#subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 32px var(--horizontal-padding);
  gap: var(--content-gap);
}

#side-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--content-gap) * 2);
}

.card .announcement + .announcement {
  border-top: 1px solid var(--light-grey);
  margin-top: 16px;
  padding-top: 16px;
}

.announcement-content-container {
  padding-left: calc(var(--content-gap) * 1.5);
  padding-right: calc(var(--content-gap) * 1.5);
}

.projects-container,
.trending-container,
.announcement-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--heading-gap);
}

.projects-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
  grid-auto-rows: max-content;
  gap: var(--content-gap);
}

.trending-content-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--content-gap);
}

.section-heading {
  grid-column: 1 / -1;
  grid-row: 1;
  height: auto;
  align-self: start;
}

.announcement h3 {
  font-size: 0.9rem;
  font-weight: bold;
}

.project-actions {
  display: grid;
  grid-template-columns: 32px 32px 32px;
  justify-content: end;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

.trending-user {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 52px;
  height: 52px;
}

.avatar-large {
  width: 72px;
  height: 72px;
}

.greeting-container {
  display: grid;
  grid-template-columns: 72px 1fr;
  gap: 24px;
  justify-items: start;
  align-items: center;
}

.text-greeting {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
}

.highlight {
  font-weight: 500;
}

.user-greeting {
  font-size: 1.5rem;
  font-weight: bold;
}

/*todo fix sidenav height*/
