:root {
  --blue: #1992d4;
  --grey: #e2e8f0;
  --light-grey: #d2d2d2;
  --dark-grey: #636363;
  --top-padding: 16px;
  --horizontal-padding: 24px;
  --content-gap: 24px;
  --accent: #f0b429;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Variable.ttf") format("ttf");
}

body {
  display: grid;
  grid-template-columns: minmax(15%, 240px) 1fr;
  height: 100vh;
  background-color: var(--grey);
  font-family: "Roboto", sans-serif;
}

#sidenav-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 32px;
  background-color: var(--blue);
  color: white;
  padding: var(--top-padding) 24px;
  height: 100%;
}

h1 {
  font-weight: bold;
}

#sidenav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  font-size: 24px;
  font-weight: bold;
}

#sidenav ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

#header {
  background-color: white;
  padding: var(--top-padding) var(--horizontal-padding);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

#subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 32px var(--horizontal-padding);
  gap: var(--content-gap);
}

#side-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--content-gap) * 2);
}

.announcement-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.card .announcement + .announcement {
  border-top: 1px solid var(--light-grey);
  margin-top: 16px;
  padding-top: 16px;
}

.announcement h3 {
  font-size: 0.9rem;
  font-weight: bold;
}

.announcement .text-secondary {
  font-size: 0.9rem;
  line-height: 1.25;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: var(--content-gap);
}

.section-heading {
  font-weight: 500;
  grid-column: 1 / -1;
  height: auto;
  align-self: start;
  grid-row: auto;
}

.trending-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 4px 4px;
}

.project-card {
  border-left: solid 8px var(--accent);
  /*height: 240px;*/
}

.body-1 {
  font-size: 1rem;
  line-height: 1.2;
}

.body-2 {
  font-size: 0.9rem;
  line-height: 1.2;
}

.text-secondary {
  color: var(--dark-grey);
}

.project-title {
  font-weight: 600;
  font-size: 1.1rem;
}

/*todo fix sidenav height*/
