@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Variable.ttf") format("ttf");
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.body-1 {
  font-size: 1rem;
  line-height: 1.2;
}

.body-2 {
  font-size: 0.9rem;
  line-height: 1.25;
}

.text-secondary {
  color: var(--dark-grey);
}
